body{
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    position: relative;
}

header,footer{
    background-color: rosybrown;
}

/******************* Header ******************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

header a{
    text-decoration: none;
    color:#000;
}

header .login{
    margin-right: 2%;
    vertical-align: middle;
}

.content{
    padding-top: 60px;
}

                                                /* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    /* position: fixed; */
    position: sticky;
    /* width: 100%; */
    bottom: 0;
}

footer img{
    width: 20px;
    height: 19px;
}

.contactUs{
    margin-left: 2%;
}
.contactUs a{
    text-decoration: none;
    color:#000;
}

.socialMediaIcons{
    display: inline-block;
    margin-right: 2%;
}

.socialMediaIcons a{
    text-decoration: none;
}

.copyrightext{
    font-size: 10px;
    color:#000;
    text-align: center;
    margin-top: 1%;
}